@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap");

$text-color: #675d50;
$nav-color: #675d50;
$nav-text: #fff;
$primary-color: #f3deba;
$hover-color: #b79e74;

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    background-color: $primary-color;
    margin: 0;
    padding: 0;
}

.navbar {
    color: $nav-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.brand-title {
    display: flex;
    background-color: $primary-color;
    color: $text-color;
    font-size: 1rem;
    width: 100%;
}

.brand-title span {
    font-size: 1rem;
    margin: 10px;
}

.navbar-links {
    background-color: $nav-color;
}

.navbar-links ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar-links ul li {
    list-style: none;
    height: auto;
    height: 100%;
    padding: 10px;

    &:hover {
        background-color: $hover-color;
    }

    a {
        text-decoration: none;
        color: $nav-text;
        display: block;
        height: 100%;
    }
}

@media screen and (width < 768px) {
    .navbar-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .navbar-links ul li {
        width: 100%;
        text-align: center;
    }
}