:root {
    --base-color: #3cc8da;
    --important-color: #0a81a9;
    --warning-color: #0c4a5f;
    --color-background: #ffffff;
    --border-radius: 5px;
    --principal-font: 'Arial', sans-serif;
    --secondary-font: 'Verdana', sans-serif;
    --box-shadow-offset-x: 10px;
    --box-shadow-offset-y: 10px;
    --box-shadow-blur-radius: 10px;
    --box-shadow-color: rgba(0, 0, 0, 0.75);
}